.redbtn {
  color: #fff;
  background: linear-gradient(84deg, #ff0000 0%, #b80000 100%);
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 20px;
  transition: 371ms;
  transform: translateY(0);
  align-items: center;
  cursor: pointer;
}

.redbtn:hover {
  transition: 371ms;
  transform: translateY(-5px);
  color: #a80000;
}

.socialicon {
  color: rgb(255, 255, 255) !important;
}

.socialicon :hover {
  color: red !important;
  transition: 371ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.redline {
  border: none;
  border-top: 2px solid red; /* Red line */
  margin: 10px auto; /* Center the line horizontally and add space above and below */
  width: 80%; /* Set the width to 80% */
  background-color: transparent; /* Hides the default line */
  opacity: 0.7; /* Makes it slightly transparent */
}

#sponsors {
  font-weight: 20000 !important;
  font-size: 5rem !important;
}